MONGO_URI=YOUR_MONGODB_CONNECTION_STRING_HERE
# Replace YOUR_MONGODB_CONNECTION_STRING_HERE with your actual MongoDB connection string.
# Example: mongodb+srv://username:
PORT=YOUR_PORT_NUM
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRE=7d|AS_PER_YOUR_CHOICE
NODE_ENV=NODE_ENV
MAX_FILE_SIZE=FILE_SIZE